//Theme Colours
$primary: #438ffe;
$danger: rgb(240, 70, 18);
$secondary: #fbde4a;
$accent: #021a28;
$gray: #abb1bf;
$light-grey: #f8f8f8;
$light: #ffffff;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "secondary": $secondary,
  "gray": $gray,
  "light": $light,
  "accent": $accent
);
