//Theme Colours
$primary: #438ffe;
$danger: rgb(240, 70, 18);
$green: #8bc38a;
$dark-green: #4da7ac;
$accent: #021a28;
$grey: #abb1bf;
$light-grey: #f8f8f8;
$light: #ffffff;
$pink: #fa8fa1;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "green": $green,
  "grey": $grey,
  "light": $light,
  "accent": $accent,
  "dark-green": $dark-green,
  "pink": $pink,
);


@each $key, $val in $theme-colors {
  .text-#{$key} {
    color: $val;
  }
}

@each $key, $val in $theme-colors {
  .icon-#{$key} {
    color: $val;
  }
}

@each $key, $val in $theme-colors {
  .icon-card-#{$key} {
    color: $val;
    background-color: rgba($val,0.1);
    
  }
}
@each $key, $val in $theme-colors{
  .card-#{$key}{
    &:hover{
      background-color: $val;
      .card-title,.card-footer,.count,.inner-card{
        color: $light;
      }
      .inner-card{
        background-color: lighten($val,3%)
      }

    }
  }
}


