//Theme Colours
$primary: #438ffe;
$danger: rgb(240, 70, 18);
$green: #8bc38a;
$dark-green: #83bcbd;
$accent: #021a28;
$grey: #abb1bf;
$light-grey: #f8f8f8;
$light: #ffffff;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "green": $green,
  "grey": $grey,
  "light": $light,
  "accent": $accent,
  "dark-green": $dark-green
);

@each $key, $val in $theme-colors {
  .icon-#{$key} {
    color: $val;
  }
}

@each $key, $val in $theme-colors {
  .text-#{$key} {
    color: $val;
  }
}