// All the SCSS mixins goes here'

@mixin border($size,$type, $color)
{
    border: $size $type $color;
}

@mixin position($type: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


  @mixin for-mini {
    @media (max-width: 320px) { @content;}
  }

  @mixin for-phone {
    @media (max-width: 576px) { @content; }
  }

  @mixin for-tablet {
    @media (max-width: 780px) { @content; }
  }
  
  @mixin for-laptop {
    @media (max-width: 992px) { @content; }
  }
  @mixin for-desktop {
    @media (max-width: 1200px) { @content; }
  }