// All the SCSS Variables goes here


//Header
$header-border-size: 2px;
$header-height: 80px;
$header-icon-size: 1.625rem;

//Navbar
$navbar-width: 100px;
$navbar-icon-size: 1.625rem;

//Searchbar
$searchbar-height: 35px;
$searchbar-width: 20%;

//main-container
$container-padding: 1.5rem;

//card-wrapper
$card-wrapper-width: 25%;

//cards
$card-height: 250px;
$card-padding: 1.25rem;
$card-margin: 15px;


//contents
$head-size: 1.5rem;
$title-padding: 1.25rem 1.5rem;



////graph
$graph-width: 30%;
$graph-height: 400px;


//padding
$padding: 1rem;