// All the SCSS Variables goes here

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

//Header
$header-border-size: 2px;
$header-height: 120px;
$icon-size: 1.625rem;

//Navbar
$navbar-width: 100px;
$navbar-icon-size: 1.625rem;
$nav-padding: 1rem;

//Searchbar
$searchbar-height: 35px;
$searchbar-width: 280px;

//main-container
$container-padding: 1.5rem;

//count
$count-size: 2rem;

//card-wrapper
$card-wrapper-width: 25%;

//cards
$card-padding: 1.25rem;
$card-margin: 15px;
$card-title: 16px;
$footer-padding: 0.5rem 0 0;


//inner-card
$inner-card-height: 70px;
$inner-card-width: 70px;


//contents
$head-size: 1.5rem;
$title-padding: 1.25rem 1.5rem;

//images
$image-width: 45px;
$image-height: 45px;


////graph
$graph-width: 30%;
