// All the SCSS Variables goes here


//Header
$header-border-size: 2px;
$header-height: 90px;
$header-icon-size: 1.625rem;

//Navbar
$navbar-width: 100px;
$navbar-icon-size: 1.625rem;



//cards
$card-height: 250px;
$card-width: 23.5%;
$card-padding: 1.25rem;


//contents
$content-padding: 1.5rem;
$head-size: 1.5rem;



////graph
$graph-width: 30%;
$graph-height: 500px;