// Button styles goes here

.btn {
    height: 50px;
    width: 200px;
    border-radius: 6px;
    border:none;
    font-size: 1.25rem;

    @include for-tablet{
        width: 120px;
        font-size: 1rem;
    }

    @include for-phone {
        width: 100px;
        font-size: 1rem;;
    }
}


.btn-success {
    background-color: $success;
    color: $light;
    padding-right: 2rem;
    
}
