// Button styles goes here

.btn {
    height: 40px;
    width: 120px;
    border-radius: 6px;
    border:none;
    font-size: 1.25rem;

    // @include for-phone {
    //     display: none;
    // }
}


.btn-success {
    background-color: $success;
    color: $light;
    
}