//Theme Colours
$primary: #438ffe;
$danger: rgb(240, 70, 18);
$success: #00b11b;
$grey: #fafafa;
$light: #ffffff;
$pink: #fa8fa1;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "success": $success,
  "grey": $grey,
  "light": $light,
  "pink": $pink,
);