// All the SCSS Variables goes here

//  Navbar
$navbar-width: 250px;
$navbar-padding: 2rem;


// Main
$main-padding: 2rem 2.25rem;


// card
$card-padding: 1rem;

$inner-card-width: 50px;
$inner-card-height: 50px ;

//table
$image-width: 20px;
$image-height: 20px;