// Button styles goes here

.btn {
    height: 35px;
    width: 80px;
    border:none;

    @include for-phone {
        display: none;
    }
}


.btn-primary {
    background-color: $primary;
    color: $light;
    
}