// Card styles goes here

.card {
    padding: $card-padding;
    margin: $card-margin;
    background-color: $light;
    @include border(1px, solid, $grey);
    border: none;
}

.card-wrapper {
    width: $card-wrapper-width;
}

.card-container {
    margin: 0 -15px;
}

.inner-card {
    width: $inner-card-width;
    height: $inner-card-height;
}


.card-title {
    font-size: $card-title;
    padding: 1rem 0 0;
    font-weight: 300;
}

.card-footer{
    border-top: 1px solid #ebebeb;
    padding: $footer-padding;
}