// Card styles goes here

.card {
    height: $card-height;
    padding: $card-padding;
    margin: $card-margin;
    @include border(1px, solid, $gray)
}

.card-wrapper {
    width: $card-wrapper-width;
}

.card-container {
    margin: 0 -15px;
}