.data {
    padding: $card-padding;
    margin: $card-margin;
    background-color: $light;
    @include border(1px, solid, $grey);
    border: none;
}

.tr-bg{
    background-color: #f5f7f9;
}

.table-border{
    border-spacing:0;
}

.table-cell {
    border-bottom: 12px solid #ffffff;
    padding: 0.75rem 1.125rem;
}

.table-image {
    width: $image-width;
    height: $image-height;
}

.col{
    padding: 1rem;
    text-align:left;
}


