.data {
    padding: $card-padding;
    margin: $card-margin;
    background-color: $light;

    @include for-phone{
        padding: 0.75rem;
    }
}

.tr-bg{
    background-color: #f5f7f9;
}

.table-border{
    border-spacing:0;
}

.table-cell {
    border-bottom: 12px solid #ffffff;
    padding: 0.75rem 1.125rem;

    @include for-tablet{
        font-weight: 400;
    }

    @include for-phone {
        font-size: 0.875rem;
    }

    @include for-mini {
        font-size: 0.75rem;
        font-weight: 400;
    }
}

.table-image {
    width: $image-width;
    height: $image-height;
}

.image{
    width: 50px;
}

.col{
    padding: 1rem 1.125rem 0;
    text-align:left;

    @include for-mini {
        font-size: 0.875rem;
    }
}


.table {
    width: 65%;
    background-color: $light;
    height: 500px;

    @include for-desktop{
        width: 60%;
    }

    @include for-tablet{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    @include for-phone{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

