.container {
    padding: $container-padding;
    background-color: $light-grey;
}

.content-head-size {
    font-size: $head-size;
}

//title
.content-title {
    padding: $title-padding;
}

//graph
.graph {
    height: $graph-height;
    width: $graph-width;
    @include border(1px, solid, $primary)
}