// Header area style
.brand-logo{
    height: $header-height;
    
}

.header-icon{
    font-size: $icon-size;
    width: $navbar-width;

    @include for-phone{
        font-size: 1.5rem;
        width: 60px;
    }
}

.user-image {
    width: $image-width;
    height: $image-height;
    border-radius: 50%;

    @include for-tablet {
        width: 40px;
        height: 40px;
    }

    @include for-phone {
        width: 30px;
        height: 30px;
    }
}

h1{

    @include for-tablet{
        padding: 0 0.1rem 0.625rem;
    }
}