// Header area style
.brand-logo{
    height: $header-height;
    
}

.header-icon{
    font-size: $icon-size;
    width: $navbar-width;
}

.user-image {
    width: $image-width;
    height: $image-height;
    border-radius: 50%;

    @include for-tablet {
        width: 40px;
        height: 40px;
    }

    @include for-phone {
        width: 30px;
        height: 30px;
    }
}
