// Header area style
.brand-logo{
    height: $header-height;
    
}

.header-icon{
    font-size: $icon-size;
    width: $navbar-width;
}

.user-image {
    width: $image-width;
    height: $image-height;
    border-radius: 50%;
}
