.navbar {
    width: $navbar-width;
    padding: $nav-padding;
    @include border (2px, solid, $light-grey);

    @include for-phone {
        width: 60px;
        padding: 0.125rem;
    }

    @include for-mini {
        width: 50px;
        padding: 0.125rem;
    }
}

.nav-list {
    font-size: $navbar-icon-size;

    @include for-phone{
        font-size: 1.375rem;
    }
}

.nav-item {
    padding: $nav-padding;

    &:hover {
        color: $primary;
    }

    @include for-phone {
        padding: 0.75rem;
    }

    @include for-mini {
        padding: 0.75rem;
    }
}

.navbar-toggle {
    background-color: $light;
    border-radius: -10px;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transition: all ease-in 0.4s;
    .icon {
        transition: all ease-in 0.4s;
    }
}

#navbar-checkbox:checked ~ .navbar {
    transform: translateX(-100px);
    width: 0;
    padding: 0;
    .navbar-toggle {
        transform-origin: center;
        right: -124px;
        left: auto;
        transition: all ease-in 0.4s;
        .icon {
            display:block;
            transform: rotate(180deg);
        }
    }
}