* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}

.icon {
    align-self: center;
    padding-right: 0.5rem;
    width: 1.5rem;
    text-align: center;
}

.header {
    align-content: center;
    justify-content: space-between;
    background-color: rgba(248,248,250,255);
}

.h-content {
    padding: 1.25rem 2.5rem;
}

.hbutton-cont {
     padding: 0.8rem 5rem; 
}

.hbutton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 0.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px 2px;
    border-radius: 0.4rem;
    min-width: 145px;
    
}

.h-height {
    flex-basis: 8%;
    flex-shrink: 0;
    min-height: 56px;
    border-bottom: 1px solid #aaa;
}

.sidebar {
    flex-basis: 18%;
    max-width: 225px;
    min-width: max-content;
    overflow: hidden;
    border-right: 1px solid #aaa;
}

.sidebar-item {
    padding: 1rem 1.25rem;
    margin: 1rem 1.25rem;
    align-items: center;
    border-radius: 0.5rem;
}

.sidebar-item:hover {
    background-color: rgba(221, 215, 215, 0.541);
    
}

.sidebar-top {
    margin: 0;
    border-radius: 0;
}

.sidebar-sec {
    padding: 11% 0;
}

.nav {
    padding-top: 11%;
    overflow: auto;
}

#search {
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    width: 700px;
    height: 50%;
    min-height: 2.25rem;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
}

.search-bar {
    padding-left: 2.75rem;
    margin: auto 0;
    width: max-content;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.search-cont {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.b-border {
    border-bottom: 1px solid #AAAAAA;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.main-sec {
    padding: 1% 1%;
    background-color: rgba(252,251,254,255);
}
